[type='text']:focus, input:where(:not([type])):focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    outline: 0px solid transparent !important;
    outline-offset: 0px !important;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: none !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: none !important;
}
.Polaris-IndexTable__TableCell {
    color: #333;
  }
.Polaris-TextField.Polaris-TextField--hasValue:focus-visible,
.Polaris-TextField.Polaris-TextField--hasValue:focus-within

{
    outline: 0px solid transparent !important;
    outline-offset: 0px !important;
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #ccc !important;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    border-color: #ccc !important;
}
.setting-color {
    padding-top: 15px;
}
.setting-color p , .setting-color h5{
    color: #000 !important;
}
td.Polaris-IndexTable__TableCell , th.Polaris-IndexTable__TableHeading.Polaris-IndexTable__TableHeading--unselectable {
    padding-right: 40px !important;
}


.Polaris-IndexTable-ScrollContainer td.Polaris-IndexTable__TableCell:first-child, .Polaris-IndexTable-ScrollContainer th.Polaris-IndexTable__TableHeading.Polaris-IndexTable__TableHeading--unselectable:first-child {
    padding-right: 15px !important;
}
